.chat_side
  .side_heder
    .top_items
      .top_items__name lololo
      .top_items__icon 
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog
  .groups
    .group
      .group_name popopo
      .group_massege まだメッセージはありません