.chat-side
  .side-heder
    .top-items
      .top-items__name lololo
      .top-items__icon 
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog
  .groups
    .group
      .group__name popopo
      .group__massege まだメッセージはありません