.chat-side {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  float: left;
  
}
.side-heder {
  height: 100px;
  background-color: #253141;
  align-items: center;
  display: flex;
}

.top-items {
  height: 20px;
  width: 260px;
  background-color: #253141;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  text-align:center;

  &__name {
  color: #ffffff;
  font-size: 16px;

  }

  &__icon {
  width: 60px;
  text-decoration: none;
  text-align:right;

  }
}

.groups {
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  background-color: #2f3e51;


  .group{
    margin-bottom: 40px;
    color: #ffffff;

    a{
      color: #ffffff;
      text-decoration: none;
    }

    &__name { 
    font-size: 15px;
    margin-bottom: 5px;
    }

    &__massege{
    font-size: 11px;

    }
  }
}



.fa-cog {
  color: #ffffff;
}

.fa-edit {
  color: #ffffff;
}